<script lang="ts">
	import { onMount } from 'svelte';
	import { loadConfig, saveConfig, testIps } from '../ipc-functions';
	import { testResults } from '../store/results';
	import { _ } from 'svelte-i18n';
	import { locale } from '../store/lang';
	onMount(async () => {
		const { config, ip_ranges: ips } = await loadConfig();
		isp = config.isp;
		sni = config.sni;
		url = config.url;
		number_of_ip_to_test = config.number_of_ip_to_test;
		number_of_concurrent_requests = config.number_of_concurrent_requests;
		file_size_kb = config.file_size_kb;
		timeout_ms = config.timeout_ms;
		repeat_count = config.repeat_count;
		min_acceptable_try_success = config.min_acceptable_try_success;
		no_ws = config.no_ws;

		ip_ranges = ips.trim();
	});

	let isTestRunning = false;
	let saveConfigButtonText = $_('config.buttons.save_config.default');
	locale.subscribe((_l) => {
		setTimeout(() => {
			saveConfigButtonText = $_('config.buttons.save_config.default');
		}, 10);
	});
	const saveCurrentConfig = () => {
		saveConfigButtonText = $_('config.buttons.save_config.waiting');
		saveConfig(
			{
				isp,
				sni,
				url: url,
				number_of_ip_to_test,
				number_of_concurrent_requests,
				file_size_kb,
				timeout_ms: timeout_ms,
				repeat_count,
				min_acceptable_try_success,
				no_ws,
				download_mode
			},
			ip_ranges
		)
			.then(() => {
				saveConfigButtonText = $_('config.buttons.save_config.success');
				setTimeout(() => {
					saveConfigButtonText = $_('config.buttons.save_config.default');
				}, 3000);
			})
			.catch(() => {
				saveConfigButtonText = $_('config.buttons.save_config.error');
			});
	};

	let isp = '';
	let sni = '1';
	let url = '1';
	let number_of_ip_to_test = 1;
	let number_of_concurrent_requests = 1;
	let file_size_kb = 1;
	let timeout_ms = 1;
	let repeat_count = 1;
	let min_acceptable_try_success = 1;
	let ip_ranges = '';
	let no_ws = true;
	let download_mode = false;
	const runTest = async () => {
		isTestRunning = true;
		testResults.set(null);
		testResults.set(
			await testIps(
				{
					isp,
					sni,
					url,
					number_of_ip_to_test,
					number_of_concurrent_requests,
					file_size_kb,
					timeout_ms,
					repeat_count,
					min_acceptable_try_success,
					no_ws,
					download_mode
				},
				ip_ranges
			)
		);
		isTestRunning = false;
	};
</script>

<form on:submit|preventDefault={runTest}>
	<div>
		<label for="no-ws">{$_('config.labels.no_ws')}</label>
		<div class="checkbox-wrapper">
			<input id="no-ws" type="checkbox" bind:checked={no_ws} />
		</div>
	</div>
	<div>
		<label for="download-mode">{$_('config.labels.download_mode')}</label>
		<div class="checkbox-wrapper">
			<input id="download-mode" type="checkbox" bind:checked={download_mode} />
		</div>
	</div>
	<div>
		<label for="isp">{$_('config.labels.isp')}</label>
		<input id="isp" type="text" bind:value={isp} required />
	</div>
	<div>
		<label for="sni">{$_('config.labels.sni')}</label>
		<input id="sni" type="text" bind:value={sni} required />
	</div>
	<div>
		<label for="url"
			>{no_ws
				? download_mode
					? $_('config.labels.url.https_download')
					: $_('config.labels.url.https_upload')
				: download_mode
				? $_('config.labels.url.wss_download')
				: $_('config.labels.url.wss_upload')}</label
		>
		<input
			id="url"
			bind:value={url}
			required
			type="url"
			pattern={no_ws ? 'https://.*' : 'wss://.*'}
		/>
	</div>
	<div>
		<label for="number-of-ip-to-test">{$_('config.labels.number_of_ip_to_test')}</label>
		<input id="number-of-ip-to-test" type="number" bind:value={number_of_ip_to_test} required />
	</div>
	<div>
		<label for="number-of-concurrent-requests"
			>{$_('config.labels.number_of_concurrent_requests.main')}<small>
				{$_('config.labels.number_of_concurrent_requests.note')}</small
			>
		</label>
		<input
			id="number-of-concurrent-requests"
			type="number"
			bind:value={number_of_concurrent_requests}
			min="1"
			required
		/>
	</div>
	<div>
		<label for="file-size">{$_('config.labels.file_size_kb')}</label>
		<input
			id="file-size"
			type="number"
			bind:value={file_size_kb}
			min={no_ws ? 10 : 80}
			step="5"
			required
		/>
	</div>
	<div>
		<label for="timeout">
			{$_('config.labels.timeout_ms.main')}
			<small>{$_('config.labels.timeout_ms.note')}</small>
		</label>
		<input id="timeout" type="number" bind:value={timeout_ms} min="100" step="50" required />
	</div>
	<div>
		<label for="repeat-count">{$_('config.labels.repeat_count')}</label>
		<input id="repeat-count" type="number" bind:value={repeat_count} min="1" required />
	</div>
	<div>
		<label for="min-acceptable-try-success">{$_('config.labels.min_acceptable_try_success')}</label>
		<input
			id="min-acceptable-try-success"
			type="number"
			bind:value={min_acceptable_try_success}
			min="1"
			required
		/>
	</div>

	<div>
		<label for="ip-ranges"
			>{$_('config.labels.ip_ranges.main')}
			<br />
			<small>{$_('config.labels.ip_ranges.note')}</small>
		</label>
		<textarea id="ip-ranges" bind:value={ip_ranges} cols="15" rows="10" required />
	</div>
	<button disabled={isTestRunning}
		>{isTestRunning ? $_('config.buttons.run.waiting') : $_('config.buttons.run.default')}</button
	>
</form>
<button class="mt-1" on:click|preventDefault={saveCurrentConfig}>{saveConfigButtonText}</button>

<style>
	form > div {
		margin: 1rem 0;
	}
	form > div label {
		-webkit-user-select: none;
		user-select: none;
		display: block;
		width: 100%;
	}
	.checkbox-wrapper {
		margin-top: 0.5rem;
		background-color: white;
		padding: 2px 5px;
		display: inline-block;
	}
	.checkbox-wrapper input {
		transform: scale(1.5);
	}
	form > div input,
	textarea {
		margin-top: 0.25rem;
		padding: 0.5rem;
	}
	.mt-1 {
		margin-top: 1rem;
	}
</style>
