<script lang="ts">
	import { saveTestResult } from '../ipc-functions';
	import { testResults } from '../store/results';
	import { _, locale } from 'svelte-i18n';
	let template = '';
	let configs: string | null = null;
	let configsTextarea: HTMLTextAreaElement | null = null;
	let saveResultButtonText = $_('results.buttons.save_result.default');
	locale.subscribe((_l) => {
		setTimeout(() => {
			saveResultButtonText = $_('results.buttons.save_result.default');
		}, 10);
	});
	const generateConfigs = () => {
		template = template.trim();
		console.log($testResults);
		configs = '';
		$testResults!.result_ips.forEach((res, i) => {
			const config = template
				.replace('%clean_ip%', res.ip.ip)
				.replace('%name_index%', (i + 1).toString());
			configs += `${config}\n`;
		});
		configs = configs.trim();
	};
	const copyConfigs = () => {
		configsTextarea!.select();
		document.execCommand('copy');
	};
	const saveResult = () => {
		saveResultButtonText = $_('results.buttons.save_result.waiting');
		saveTestResult($testResults!)
			.then(() => {
				saveResultButtonText = $_('results.buttons.save_result.success');
				setTimeout(() => {
					saveResultButtonText = $_('results.buttons.save_result.default');
				}, 3000);
			})
			.catch(() => {
				saveResultButtonText = $_('results.buttons.save_result.error');
			});
	};
</script>

{#if $testResults}
	<div>
		<h2>{$_('results.done')}</h2>
		<h3>{$_('results.test_time')}{($testResults.test_time_ms / 1000).toFixed(0)}</h3>
		<h3>{$_('results.results_count')}{$testResults.result_ips_count}</h3>
		{#if $testResults.result_ips_count !== 0}
			<button on:click={saveResult}>{saveResultButtonText}</button>
			<form on:submit|preventDefault={generateConfigs}>
				<div>
					<label for="config"
						>{$_('results.labels.config.main')}
						<br />
						<small dir="ltr"
							>{$_('results.labels.config.note')}<br
							/>vless://random-id@%clean_ip%:443?sni=www.example.com#vless_config_%name_index%</small
						>
					</label>

					<textarea id="config" cols="30" rows="5" bind:value={template} />
				</div>
				<button on:click={generateConfigs}>{$_('results.buttons.generate_configs')}</button>
			</form>
			{#if configs !== null}
				<div>
					<textarea bind:this={configsTextarea} cols="100" rows="15">{configs}</textarea>
					<br />
					<button on:click={copyConfigs}>{$_('results.buttons.click_to_copy')}</button>
				</div>
			{/if}
			<hr />
			<table>
				<thead>
					<tr>
						<th>{$_('results.table.ip')}</th>
						<th>{$_('results.table.speed')}</th>
						<th>{$_('results.table.success_tries')}</th>
					</tr>
				</thead>
				<tbody>
					{#each $testResults.result_ips as res}
						<tr>
							<td>{res.ip.ip}</td>
							<td>{(res.avg_speed_byte_pre_s / 1000).toFixed(0)}</td>
							<td
								>{res.success_try_count}
								{$_('results.table.of')}
								{$testResults.config.repeat_count}</td
							>
						</tr>
					{/each}
				</tbody>
			</table>
		{/if}
	</div>
{:else}
	<h3>{$_('results.no_result_yet')}</h3>
{/if}

<style>
	h2 {
		margin-top: 0;
	}
	div > label {
		-webkit-user-select: none;
		user-select: none;
		display: block;
		width: 100%;
	}
	textarea {
		padding: 0.5rem;
	}
	table {
		margin-top: 1rem;
	}
	table tr th,
	td {
		padding: 0.25rem 0.5rem;
	}
</style>
