<script lang="ts">
	import Config from '../lib/Config.svelte';
	import Results from '../lib/Results.svelte';
	import { _ } from 'svelte-i18n';
	import { locale as localeStore } from '../store/lang';
	import { locale } from 'svelte-i18n';
	localeStore.subscribe((l) => {
		switch (l) {
			case 'en':
				document.dir = 'ltr';
				break;
			case 'fa':
				document.dir = 'rtl';
				break;
			default:
				document.dir = 'ltr';
				break;
		}
	});
	let lang: 'en' | 'fa' = 'en';
	const updateLocale = () => {
		localeStore.set(lang);
		locale.set(lang);
	};
</script>

<h1>{$_('title')}</h1>
<div>
	<label for="lang">{$_('choose_language')}</label>
	<select id="lang" bind:value={lang} on:change={updateLocale}>
		<option selected value="en">English</option>
		<option value="fa">فارسی</option>
	</select>
</div>
<Config />
<Results />

<style>
	label {
		-webkit-user-select: none;
		user-select: none;
	}
	:global(h1, h2, h3) {
		-webkit-user-select: none;
		user-select: none;
		cursor: default;
	}
	:global(body) {
		background-color: black;
		color: white;
	}
	:global(textarea) {
		resize: none;
	}
	:global(textarea, input) {
		direction: ltr;
	}
	:global(button) {
		border: none;
		background-color: white;
		border-radius: 3px;
		color: black;
		font-size: medium;
		cursor: pointer;
	}
	:global(button):hover {
		background-color: #aaa;
	}
</style>
